@use "sass:map";
@import "./node_modules/bootstrap/scss/bootstrap";

$theme-colors: (
    "black": #242424,
    "white": #fefefe,
    "bone": #fafafa,
    "gray":  #DCDCDC,
    "dark-gray": #828282,
    "light-blue": #52B2BF,
    "blue": #00ac9e,
    "navy-blue": #2832C2
);

@media (min-width: 700px){
    #pic {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        object-fit: cover;
        object-position: 0px -40px;
    }

    .socials svg .svg {
        width: 96px;
        height: 128px;
    }

    #about-row p {
        font-size: 22px
    }
}

@media (max-width: 700px){
    #pic {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        object-fit: cover;
        object-position: 0px -20px;
    }

    .socials svg .svg {
        width: 48px;
        height: 64px;
    }

    #about-row p {
        font-size: 18px
    }
}

#about-row {
    padding: 100px 0px 0px;
}

a {
    text-decoration: none;
}

.socials svg {
    margin: 0px 10px 0px;
}

.socials {
    padding: 50px 0px 0px;
}